@font-face {
  font-family: 'Eau Bold';
  src:  url('fonts/eau_sans_bold-webfont.woff2') format('woff2'),
        url('fonts/eau_sans_bold-webfont.woff2') format('woff');
}
@font-face {
  font-family: 'Eau Book';
  src:  url('fonts/eau_sans_book-webfont.woff2') format('woff2'),
        url('fonts/eau_sans_book-webfont.woff') format('woff');
}
@import url(https://fonts.googleapis.com/css?family=Trocchi);