footer {
	clear: both;
	ul li a {
		color: $purple;
	}
	ul li a svg{
		fill: $purple;
	}
	ul.links{
		padding-top: 10px;
		li{
			text-align: center;
			padding: 0px;
		}
	}
	ul.links li:nth-of-type(2){
		p{
		 display: inline;
		}
	}
	ul.social li{
		width: 40px;
		float: left;
	}
	ul.social{
		float: right;
		padding-top: 10px;
	}
	p{
		color: #999;
	}
}

div.footer-logo img{
	width: 60px;
}

