$sans:    "Eau Book", Ariel, sans-serif;
$sansBold: "Eau Bold", Ariel, sans-serif;
$serif:  'Trocchi', serif;
$purple: #3c305E;
$pink: #f2848A;
$grey: #7a8285;
$lightgrey: #F5F5F5;
$middlegrey: #E1E2E3;
$teal: #42a999;
$darkorange: #FF9854;
$orange: #F9A66F;
$lightorange: #FCD3B7;
$lightpurple: #D0CDD8;
$lightteal:  #A8D7D0;